@font-face {
  font-family: "pixel";
  font-style: normal;
  font-weight: 400;
  src: url("/8801.ttf") format("truetype");
}

@font-face {
  font-family: "less pixel";
  font-style: normal;
  font-weight: 400;
  src: url("/9801.ttf") format("truetype");
}

.desktop {
  font-size: x-large;
  font-family: "less pixel", sans-serif;
  background: black;
  color: whitesmoke;
  display: grid;
  place-items: center;
}
